@font-face {
	font-family: "Firenight";
	src: url(fonts/Firenight-Regular.eot);
	src: url(fonts/Firenight-Regular.eot?#iefix) format("embedded-opentype"), 
     	 url(fonts/Firenight-Regular.otf) format("opentype");
 }

 @font-face {
	font-family: "Handicraft";
	src: url(fonts/handicraft.eot);
	src: url(fonts/handicraft.eot?#iefix) format("embedded-opentype"), 
     	 url(fonts/handicraft.ttf) format("truetype");
 }

 @font-face {
	font-family: "Plumb Black";
	src: url(fonts/plumb-black.ttf) format("truetype");
 }

html {
	direction: ltr;
	overflow-x: hidden;
	box-shadow: none !important;
}

body {
	background-color: #ffffff;
	color: #2a2a2a;
	font-family: Firenight, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
}

body a {
	outline: none !important;
}

/* Header */
#header {
	position: relative;
	z-index: 100;
	min-height: 80px;
	padding-top: 13px;
	width: 100%;
}

#header .header-row {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	align-content: stretch;
	-ms-flex-line-pack: stretch;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
	width: 100%;
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0 auto;
}

#header .header-logo {
	float: left;
	position: relative;
}

#header .header-logo img {
	position: relative;
}

#header .header-nav {
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	-ms-flex-pack: end;
}

#header nav {
	display: table;
	width: 100%;
	height: 100%;
}

#header nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: inherit;
}

#header nav li {
	display: inline-block;
}

#header nav li a {
	color: #712a41;
	background-color: transparent;
	font-size: 18px;
	line-height: 20px;
	padding: 5px 10px;
	margin: 0px 10px;
}

#header nav li a:hover {
	color: #a1385a;
}

#header .header-tel {
	display: flex;
}

#header .header-tel p {
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0px;
	font-size: 18px;
	line-height: 25px;
	color: #712a41;
	padding-left: 40px;
	background-image: url(img/tel.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

/* ROW #1 - MAIN */
.sky {
	position: absolute;
	z-index: 70;
	display: block;
	top: 0;
	background-image: url(img/sky.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	min-height: 210px;
	width: 100%;
}

.row.full {
	margin: 0px !important;
}

.row.main-row {
	padding-top: 10px;
	background-image: url(img/fields.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	background-color: #65c4f5;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0 auto;
}

.row.main-row img.banki {
	max-width: 100%;
	width: 500px;
	margin: 195px 0px 20px;
}

.row.main-row .cloud1 {
	display: block;
	width: 230px;
	height: 140px;
	z-index: 75;
	position: absolute;
	align-content: center;
	background-image: url(img/cloud1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.row.main-row .cloud1 p {
	margin-bottom: 0px;
	padding-top: 40px;
	font-size: 18px;
	line-height: 33px;
	color: #712a41;
	text-align: center;
}

.row.main-row .cloud1 p .font-up {
	font-size: 33px;
}

.row.main-row .cloud2 {
	display: block;
	top: 55px;
	left: 100px;
	z-index: 70;
	width: 390px;
	height: 180px;
	position: absolute;
	align-content: center;
	background-image: url(img/cloud2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.row.main-row .cloud2 p {
	margin-bottom: 0px;
	padding-top: 55px;
	font-size: 20px;
	line-height: 28px;
	color: #712a41;
	text-align: center;
}

.row.main-row .sheep {
	display: block;
	top: 90px;
	right: 0px;
	z-index: 70;
	width: 400px;
	height: 420px;
	position: absolute;
	align-content: center;
	background-image: url(img/sheep.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
}

.row.main-row .sheep p {
	display: inline-block;
    text-align: center;
    padding: 12px 0;
    margin-left: 40px;
    font-size: 27px;
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

.row.main-row .sheep:hover {
	transform: scale(1.05);
}

.field1 {
	display: block;
	text-align: center;
	width: 350px;
	margin: 0 auto;
	height: 80px;
	margin-top: -80px;
	background-size: 100%;
	background-image: url(img/field1.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	max-width: 100%;
}

.field1 p {
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	margin-left: 10px;
	margin-top: 7px;
	margin-bottom: 0px;
	font-size: 32px;
	line-height: 80px;
	color: #ff8400;
	text-decoration: none;
	padding-right: 50px;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 32px;
}

/* PRIZES ROW*/
.row.prizes-row {
	background-image: url(img/back1.jpg);
	background-repeat: repeat;
	position: relative;
}

.row.prizes-row .container {
	padding: 100px 0;
}

.row.prizes-row:before {
	background-image: url(img/kruzheva-top.png);
	background-size: 2378px 25px;
	background-position-x: center;
	width: 100%;
	height: 25px;
	content: "";
	position: absolute;
	z-index: 100;
}

.row.prizes-row:after {
	background-image: url(img/kruzheva-bottom.png);
	background-size: 2378px 25px;
	background-position-x: center;
	width: 100%;
	height: 25px;
	content: "";
	position: absolute;
	z-index: 100;
	bottom: 0px;
}

.row.prizes-row .col-md-4.bottles-holder {
	padding: 0px;
}

.row.prizes-row .col-md-4.bottles-holder .title {
	margin-bottom: -22px;
	margin-left: 20%;
	z-index: 150;
	position: relative
}

.row.prizes-row .col-md-4.bottles-holder .description {
	margin: -105px 0 80px 13%;
	font-family: "Plumb Black";
}

.row.prizes-row .col-md-4.chek-holder .title {
	margin-bottom: -70px;
	margin-left: 20px;
	z-index: 150;
	position: relative;
	text-align: center;
}

.row.prizes-row .chek {
	text-align: center;
}

.row.prizes-row .col-md-4.chek-holder .description {
	text-align: center;
	font-family: "Plumb Black";
}

.row.prizes-row .chek img {
	width: 280px;
	max-width: 100%;
}

.row.prizes-row .col-md-4.chek-holder .img {
	width: 250px;
	max-width: 100%;
}

.row.prizes-row .col-md-4.chek-holder span {
	font-size: 38px;
	line-height: 45px;
	margin-left: 60px;
	display: inline-block;
}

.row.prizes-row .plane-top {
	display: block;
	top: 0px;
	left: -120px;
	z-index: 70;
	width: 200px;
	height: 60px;
	position: absolute;
	background-image: url(img/plane1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.row.prizes-row .plane-bottom {
	display: block;
	top: 200px;
	right: -40px;
	z-index: 70;
	width: 200px;
	height: 60px;
	position: absolute;
	background-image: url(img/plane2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.row.prizes-row .rules {
	display: block;
	width: 250px;
	height: 90px;
	margin: 0 auto;
	background-image: url(img/rules.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
}

.row.prizes-row .rules a {
	color: #f46400;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	line-height: 27px;
	padding-top: 15px;
	display: block;
}

.row.prizes-row .rules:hover a {
	color: #ec0928;
}

.row.prizes-row .rules:hover {
	transform: scale(1.05);
}

.row.prizes-row .bottles img {
	width: 400px;
	max-width: 100%;
}

.row.prizes-row .toys {
	text-align: center;
}

.row.prizes-row .toys img {
	width: 350px;
	max-width: 100%;
}

.row.prizes-row .title {
	font-size: 38px;
	line-height: 45px;
	color: #4b000c;
}

.row.prizes-row .title span {
	display: block;
	font-size: 23px;
	line-height: 25px;
}

.row .description {
	font-size: 17px;
	line-height: 20px;
	color: #542a81;
	font-family: "Plumb Black";
}

.food-holder .description {
	font-size: 15px;
	line-height: 20px;
}

.field2 {
	display: block;
	position: relative;
	z-index: 101;
	text-align: center;
	width: 350px;
	margin: 0 auto;
	height: 70px;
	margin-top: -70px;
	background-size: 100%;
	background-image: url(img/field2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	max-width: 100%;
}

.field2 p {
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 43px;
	line-height: 80px;
	color: #ff8400;
	text-decoration: none;
	padding-right: 50px;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 35px;
}

/* WINNERS ROW*/
.row.winners-row {
	background-image: url(img/back2.jpg);
	background-repeat: repeat;
	min-height: 600px;
	position: relative;
}

.row.winners-row .container {
	padding: 100px 0 0;
	margin-top: 20px;
}

.row.winners-row:before {
	background-image: url(img/kruzheva3.png);
	background-size: 2378px 25px;
	background-position-x: center;
	width: 100%;
	height: 25px;
	content: "";
	position: absolute;
	z-index: 100;
}

.row.winners-row:after {
	background-image: url(img/kruzheva4.png);
	background-size: 2378px 22px;
	background-position-x: center;
	width: 100%;
	height: 22px;
	content: "";
	position: absolute;
	z-index: 100;
	bottom: -22px;
}

.row.winners-row .money {
	display: block;
	text-align: center;
	width: 350px;
	height: 210px;
	margin-top: 20px;
	position: relative;
	z-index: 200;
	background-size: 100%;
	background-image: url(img/prize1.png);
	background-repeat: no-repeat;
}

.row.winners-row .money p {
	display: inline-block;
	text-align: center;
	font-size: 33px;
	padding: 35px 130px 0 30px;
	line-height: 40px;
	color: #4b000c;
}

.row.winners-row .money .res {
	display: block;
	font-size: 40px;
	margin: 0px;
	padding: 5px 70px 0 20px;
}
.row.winners-row .money .res .number {
	color: #d36900;
}

.row.winners-row .subtitle {
	color: #ffffff;
	font-size: 35px;
	line-height: 45px;
	margin-top: 50px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.row.winners-row .subtitle.smaller {
	font-size: 28px;
	line-height: 30px;
	margin-top: 0px;
}

.row.winners-row .food-holder {
	padding: 0px;
}

.row.winners-row .food {
	display: block;
	text-align: center;
	width: 450px;
	max-width: 100%;
	height: 210px;
	position: relative;
	z-index: 200;
	margin: 30px 0 20px;
	background-size: 100%;
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
}

.row.winners-row .food p {
	display: inline-block;
	width: 70%;
	text-align: left;
	font-size: 33px;
	margin: 24px 0 0 35%;
	line-height: 35px;
	color: #4b000c;
}

.row.winners-row .food p span:not(.number) {
	font-size: 20px;
	line-height: 23px;
	margin-left: 13%;
	display: block;
}

.row.winners-row .food .res {
	color: #d36900;
	font-size: 23px;
	margin: 0px;
	position: absolute;
	width: 40px;
	right: 20%;
	top: 62%;
}

.row.winners-row .food .res .number {
	font-size: 40px;
	line-height: 40px;
}

.row.winners-row .zveri {
	position: relative;
	z-index: 250;
}

.row.winners-row .zveri img {
	max-width: 100%;
	width: 400px;
}

.row.winners-row .zveri-priz {
	display: block;
	text-align: center;
	width: 300px;
	margin: 0 auto;
	height: 175px;
	margin-top: -100px;
	position: relative;
	z-index: 300;
	background-size: 100%;
	background-image: url(img/priz2.png);
	background-repeat: no-repeat;
}

.row.winners-row .zveri-priz p {
	display: inline-block;
	text-align: center;
	font-size: 27px;
	margin-left: -20px;
	margin-top: 35px;
	line-height: 35px;
	color: #4b000c;
}

.row.winners-row .zveri-priz p .left {
	display: inline-block;
	margin-left: -50px;
} 
.row.winners-row .zveri-priz .res {
	display: block;
	color: #d36900;
	font-size: 23px;
	margin: 0px;
	position: absolute;
	right: 40px;
	top: 100px;
}
.row.winners-row .zveri-priz .res .number {
	font-size: 45px;
	line-height: 35px;
}

.field3 {
	display: block;
	position: relative;
	z-index: 101;
	text-align: center;
	width: 350px;
	margin: 0 auto;
	height: 70px;
	margin-top: -50px;
	background-size: 100%;
	background-image: url(img/field2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	max-width: 100%;
}

.field3 p {
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 35px;
	line-height: 80px;
	color: #ff8400;
	text-decoration: none;
	padding-right: 50px;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 35px;
}

/* RESULTS ROW */
.results .winners {
	text-align: center;
	margin-top: 45px;
}

.results .winners form {
	display: flex;
	justify-content: center 
}

.results .winners .date-label {	
	color: #97d6f4;
	font-size: 22px;
	line-height: 35px;
	margin-bottom: 0px;
	margin-right: 30px;
}

.results .winners .date-control {
	height: 35px;
	width: 220px;
	padding: 6px 12px;
	font-size: 14px;
	border: 2px solid #97d6f4;
	border-radius: 8px;
}

.results .winners .datepicker.datepicker-dropdown {
	margin-top: 50px;
	margin-left: 15px;
}

.results .winners form + table {
	max-width: 800px;
	width: 100%;
	margin: 50px auto 80px;
	border-bottom: 1px solid #9ad7f5; 
}

.results .winners form + table th {
	padding: 0 50px; 
	font-size: 18px;
	line-height: 22px;
	color: #ff6400 !important;
}

.results .winners form +table th:nth-child(2) {
	padding: 0 30px; 
}

.results .winners form + table td {
	padding: 0 15px;
	font-size: 19px;
	line-height: 21px;
	font-family: Handicraft, sans-serif;
	text-transform: uppercase;
}

.results .winners form + table tr:hover td, .results .winners form + table tr:focus td {
	background-color: #e1f5ff;
}

.results .winners form + table th, .results .winners form + table td {
	text-align: left;
	color: #3f3f3f;
	height: 50px;
	border-top: 1px solid #9ad7f5; 
}

.results .winners form + table th:last-child, .results .winners form + table td:last-child {
	text-align: right;
}

/* ROW #1 - REGISTRATION PAGE */
.row.regi-row {
	padding-top: 100px;
	background-image: url(img/back1.jpg);
	background-repeat: repeat;
}

.row.regi-row .regi-head {
	text-align: center;
	width: 700px;
	float: none;
	margin: 0 auto;
}

.row.regi-row .regi-head .exit {
	display: block;
	font-size: 18px;
	color: #712a41;
	cursor: pointer;
	text-decoration: none;
	width: 80px;
	margin: -10px auto 0;
}

.row.regi-row .regi-head .exit:hover {
	color: #a1385a;
}

.row.regi-row .regi-head .head {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 40px;
	line-height: 40px;
	color: #ff8400;
}

body:not(.home) #footer {
	margin-top: 25px;
}

.regi-row .regiForm {
	display: block;
	position: relative;
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
	background-size: 100% 100%;
	background-image: url(img/regi.png);
	background-repeat: no-repeat;
	margin-bottom: 30px;
	padding: 70px 100px;
}

.regi-row .regiForm .form-group {
	overflow: auto;
	margin-bottom: 0px;
}

.regi-row .regiForm .form-group .col-sm-6 {
	padding: 0 20px;
}

.regi-row .regiForm .form-group label {
	display: block;
	font-family: 'Plumb Black';
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 5px;
	color: #686868;
}

.regi-row .regiForm .form-group input, .obl-sms input[type="text"], .obl-cf input {
	width: 100%;
	height: 35px;
	border: 2px solid #afdff7;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0 5px;
	font-family: 'Plumb Black';
	cursor: pointer;
}
.obl-cf textarea {
	width: 100%;
	border: 2px solid #afdff7;
	border-radius: 5px;
	padding: 0 5px;
	font-family: 'Plumb Black';
	cursor: pointer;
}

.obl-tele input[type="tel"] {
	max-width: 100%;
	height: 35px;
	width: 350px;
	border: 2px solid #afdff7;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0 5px;
	font-family: 'Plumb Black';
	cursor: pointer;
}

.obl-sms label, .obl-tele label {
	display: block;
	font-family: 'Plumb Black';
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 5px;
	color: #686868;
	font-size: 18px;
	margin-bottom: 20px;
}
.obl-cf label {
	display: block;
	font-family: 'Plumb Black';
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 5px;
	color: #686868;
	font-size: 14px;
}

.regi-row .regiForm input:focus, .regi-row .regiForm input:hover, .obl-sms input[type="text"]:focus, .obl-sms input[type="text"]:hover, .obl-cf textarea:focus, .obl-cf textarea:hover, .obl-cf input:focus, .obl-cf input:hover, .obl-tele input[type="tel"]:focus, .obl-tele input[type="tel"]:hover {
	outline: none;
	background-color: #e1f5ff;
}

.regi-row .regiForm .agree {
	margin-bottom: 12px;
	margin-top: 5px;
	font-family: Handicraft;
	color: #686868;
	font-size: 18px;
	font-weight: 100;
	line-height: 18px;
}

.regi-row .regiForm .agree .col-md-6:first-child {
	padding: 0;
	line-height: 25px;
}

.regi-row .regiForm .agree .col-md-6:last-child {
	padding: 0 0 0 15px;
}

.agree input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
	cursor: pointer;
    height: 25px;
    width: 25px;
    border: 2px solid #afdff7;
	border-radius: 5px;
}

.agree:hover input ~ .checkmark {
    background-color: #e1f5ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.agree input:checked ~ .checkmark:after {
    display: block;
}

.agree .checkmark:after {
	content: url(img/ok.png);
}

.regi-row .regiForm .btn-reg {
	display: block;
	position: relative;
	font-family: Firenight, sans-serif !important;
	width: 250px !important;
	max-width: 100%;
	margin: 25px auto 0px;
	height: 55px !important;
	background-size: 100% 100%;
	background-image: url(img/submit.png);
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 25px;
	background-color: transparent !important;
	border-width: 0px !important;
}

.obl-sms input[type="submit"], .obl-tele input[type="submit"], .obl-cf input[type="submit"] {
	display: block;
	position: relative;
	font-family: Firenight, sans-serif !important;
	width: 200px !important;
	max-width: 100%;
	margin: 25px auto 0px;
	height: 45px !important;
	background-size: 100% 100%;
	background-image: url(img/submit.png);
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 20px;
	background-color: transparent !important;
	border-width: 0px !important;
}

.regi-row .regiForm .btn-reg:hover, .obl-sms input[type="submit"]:hover, .obl-tele input[type="submit"]:hover, .obl-cf input[type="submit"]:hover {
	color: #ec0928;
}

.risunok {
	text-align: right;
	margin-top: -50px;
	margin-bottom: -50px;
	pointer-events: none;
}

.risunok img {
	max-height: 100px;
}

.nopads {
	padding: 0px;
}

.reg-check {
	font-size: 23px !important;
	margin-top: 90px !important;
}

.regi-row .regiForm input[type="file"] {
	padding: 0px;
	border-width: 0px;
	font-family: 'Plumb Black';
	font-weight: 100;
	color: #686868;
	font-size: 13px;
}
.regi-row .regiForm input[type="file"]:focus, .regi-row .regiForm input[type="file"]:hover {
	background-color: #ffffff;
}
.regi-row .regiForm input[type="file"]::-webkit-file-upload-button {
	display: block;
	font-family: 'Plumb Black';
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 5px;
	background-color: #afdff7;
	color: #ffffff;
	border-radius: 4px;
	font-size: 13px;
	line-height: 18px;
	border-style: solid;
	border-color: #afdff7;
	padding: 0px 25px;
	cursor: pointer;
	height: 35px;
}
.regi-row .regiForm input[type="file"]::-webkit-file-upload-button:hover {
	opacity: 0.8;
}

.regi-row .regiForm .descr-text {
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: Handicraft;
	color: #686868;
	font-size: 16px;
	font-weight: 100;
	line-height: 16px;
}

::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder {
   text-align: center;  
}
::-moz-placeholder {
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}

.row.regi-row .check-head {
	text-align: center;
}
.row.regi-row .check-head .head {
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	margin-top: 5px;
	color: #ff8400;
}
.row.regi-row .zoom-holder {
	text-align: right;
}
.row.regi-row .zoom-holder img {
	width: 42px;
	height: 55px;
	margin-top: -50px;
	display: inline-block;
	cursor: pointer;
}
.row.regi-row .abs-ris {
	position: absolute;
	top: 200px;
	right: 0px;
}
.row.regi-row .check-pic {
	z-index: 100;
	position: relative;
	margin-top: -10px;
	width: 350px;
	max-width: 100%;
	cursor: pointer;
}
.mfp-figure:after {
	box-shadow: none;
	background-color: transparent;
}

/* #Footer */
#footer {
	border-top: 2px dashed #41b4eb;
	margin-top: 50px;
	padding: 40px 0 30px;
	position: relative;
	clear: both;
}

#footer nav li a {
	color: #712a41;
	background-color: transparent;
	font-size: 15px;
	line-height: 15px;
	padding: 0px;
	margin: 10px 0;
}

#footer nav li a:hover {
	color: #a1385a;
}

#footer .footer-descr p {
	font-family: Handicraft, sans-serif;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 0px;
}

#footer .footer-descr-contact a {
	text-decoration: none;
	display: inline-block;
	padding-left: 35px;
	color: #712a41;
	background-color: transparent;
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
	margin: 14px 0 0;
	background-image: url(img/hand.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

#footer .footer-descr-contact a:hover {
	color: #a1385a;
}

#footer .footer-contacts p {
	color: #ff6400;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 0px;
}

#footer .footer-contacts-f16 p {
	font-family: Handicraft, sans-serif;
	font-size: 16px;
	line-height: 36px;
	margin-bottom: 0px;
	margin-top: 18px;
}

#footer .footer-contacts-f16 img {
	height: 24px;
	margin-top: -1px;
}

@media screen and (max-width: 990px) {
	#header .header-row {
		flex-direction: column;
	}
	#header .header-row .header-logo {
		text-align: center;
	}
	#header .header-row nav .nav {
		justify-content: center;
		margin-top: 10px;
	}
	#header .header-row .header-tel {
		justify-content: center;
		height: 40px;
	}
	.sky {
		background-size: initial;
		top: 80px;
	}
	.col-md-6 {
		text-align: center;
	}
	.cloud1 {
		position: relative !important;
		margin: 20px auto;
		max-width: 100%;
	}
	.cloud2 {
		position: relative !important;
		margin: -80px auto 0;
		left: unset !important;
		top: unset !important;
		max-width: 100%;
	}
	.sheep {
		position: relative !important;
		margin: 20px auto 0;
		left: unset !important;
		top: unset !important;
		max-width: 100%;
	}
	.sheep p {
		margin-left: 0px !important;
	}
	.row.prizes-row .container {
		padding: 70px 0 !important;
	}
	.banki {
		margin: 0 auto !important;
	}
	.row {
		text-align: center;
	}
	.bottles-holder .title {
		margin-left: 0px !important;
	}
	.bottles-holder .description {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.plane-top, .plane-bottom {
		position: relative !important;
		margin: 30px auto;
		top: unset !important;
		left: unset !important;
		right: unset !important;
	}
	.row.winners-row .container {
		padding-top: 70px !important;
	}
	.money {
		margin: 0 auto !important;
	}
	.row.winners-row .subtitle {
		margin: 30px 0 !important;
	}
	.row.winners-row .subtitle.smaller {
		margin: 30px 0 !important;
	}
	.food {
		margin: 0 auto !important;
	}
	.food-holder .description {
		max-width: 600px;
		margin: 30px auto 60px !important;
	}
	#footer .col-md-6 {
		margin-top: 20px;
	}
	#footer .col-md-4 {
		margin-top: 30px;
	}
	.regi-row .regiForm {
		background-image: url(img/regimob.png);
	}
	.regi-row .regiForm .agree .col-md-6:last-child {
		margin: 5px 0 15px;
		padding: 0px;
	}
	.regi-row .risunok {
		margin: 20px 0 0 !important;
		text-align: center;
	}	
	.reg-check {
		margin-top: 30px !important;
	}
	.youtube {
		position: relative !important;
		margin: 40px auto -20px;
		max-width: 100%;
	}
}

@media screen and (max-width: 990px) and (min-width: 660px) {
	.container.results .youtbs {
    	display: flex;
    }
}

@media screen and (max-width: 600px) {
	#header .header-row nav .nav {
		flex-direction: column;
	}
	.sky {
		top: 170px;
	}
	.winners form {
		flex-direction: column;
	}
	.winners form .date-label {
		margin: 0 0 10px !important;
	}
	.winners form .date-control {
		margin: 0 auto !important;
	}
}

@media screen and (min-width: 1600px) {
	.main {
		margin-top: -80px;
	}
	.main .row.regi-row .container, .main .row.main-row .container {
		margin-top: 80px !important;
	}
	.row.main-row {
		padding-top: 90px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1100px) {
	.row.winners-row .food p {
		font-size: 2.5rem;
		margin: 1.5rem 0 0 35%;
		line-height: 3.5rem;
	}
	.row.winners-row .food p span:not(.number) {
		font-size: 1.5rem;
		line-height: 1.9rem;
	}
}

@media screen and (max-width: 600px) {
	.row.main-row .sheep {
		background-position: center top !important;
	}
	.row.winners-row .food p span:not(.number) {
		font-size: 1.5rem;
		line-height: 1.9rem;
	}

	.cloud2 p {
		font-size: 15px !important;
		line-height: 25px !important;
		padding-top: 55px !important;
	}

	.results .winners form {
		display: block;
	}
	.results .winners form .select-style {
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	.row.main-row .sheep p {
		font-size: 5vw;
		padding: 3vw 0;
		line-height: 10vw;
		padding-left: 12vw;
		background-size: 8vw;
	}
	.row.main-row .sheep {
		height: 95vw;
	}

	.field1, .field2 {
		height: 20vw;
		margin-top: -20vw;
	}
	.field3 {
		height: 20vw;
		margin-top: -15vw;
	}
	.field1 p, .field2 p, .field3 p {
		font-size: 6.5vw;
		line-height: 15vw;
		padding-right: 9vw;
		background-size: 6.5vw;
		margin-top: 5vw;
	}
	.results .winners form + table th {
		padding: 0 20px; 
		font-size: 18px;
		line-height: 22px;
	}
	.results .winners form +table th:nth-child(2) {
		padding: 0 20px; 
	}
	.results .winners form + table td {
		padding: 0px 1px;
		font-size: 16px;
		line-height: 21px;
	}
	body:not(.home) .container {
		padding: 0px;
	}
	.regi-head + .col-md-12 {
		padding: 0px;
	}
	.regiForm {
		padding: 70px;
	}
	.regi-row .regiForm .btn-reg {
		font-size: 20px;
	}	
	.reg-check {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 400px) {
	.row.winners-row .food p {
		font-size: 2.5rem;
		margin: 1.5rem 0 0 35%;
		line-height: 3.5rem;
	}
	.row.winners-row .food p span:not(.number) {
		font-size: 1.5rem;
		line-height: 1.9rem;
	}

	.cloud2 p {
		font-size: 15px !important;
		line-height: 25px !important;
		padding-top: 55px !important;
	}
	.regiForm {
		padding: 70px 40px !important;
	}
}

.mfp-content form {
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}

.alert {
	margin-top: 20px;
}

@media screen and (max-width: 550px) {
	.row.regi-row .zoom-holder {
		text-align: center;
		margin-bottom: 20px;
	}
	.row.regi-row .zoom-holder img {
		margin-top: 0px !important;
	}
	.row.regi-row .abs-ris {
		position: relative;
		top: unset !important;
		right: unset !important;
	}
	.row.regi-row .check-pic {
		margin-top: 0px !important;
		margin-bottom: 20px !important;
	}
}
.select-style {
	width: 100%;
	height: 35px;
	border: 2px solid #afdff7;
	border-radius: 5px;
	margin-bottom: 20px;
	font-family: 'Plumb Black';
	cursor: pointer;
    overflow: hidden;
    background: #ffffff url("img/icon.png") no-repeat 90% 50%;
}
.select-style select {
    padding: 5px 5px;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: 'Plumb Black';
	font-weight: 100;
	color: #333333;

}
.select-style select:hover {
	outline: none;
	background-color: #e1f5ff;
	cursor: pointer;
}

.obl-entrance {
	padding: 75px 15px 55px !important;
	text-align: left !important;
	max-width: 550px !important;
	position: relative;
	display: block;
	align-content: center !important;
	background-image: url(img/obl1.png) !important;
	background-repeat: no-repeat;
	background-position: center !important;
	background-size: 100% 100% !important;
	margin: 0 auto !important;
	background-color: transparent !important;
}
.obl-entrance #entrance {
	display: flex;
}

.obl-finish {
	padding: 45px 15px 35px !important;
	text-align: left !important;
	max-width: 550px !important;
	position: relative;
	display: block;
	align-content: center !important;
	background-image: url(img/obl1.png) !important;
	background-repeat: no-repeat;
	background-position: center !important;
	background-size: 100% 100% !important;
	margin: 0 auto !important;
	background-color: transparent !important;
}
.obl-finish #finish {
	display: flex;
}
.obl-finish p {
	text-align: center;
	color: #712a41;
	font-size: 19px;
	line-height: 28px;
}
@media screen and (max-width: 900px) {
	.obl-entrance #entrance {
		flex-direction: column;
	}
	.obl-entrance a {
		width: calc(100% - 30px) !important;
	}

	.obl-finish #finish {
		flex-direction: column;
	}
	.obl-finish a {
		width: calc(100% - 30px) !important;
	}
}
.obl-finish a {
	width: 50%;
	margin: 10px 15px;
	background-color: #7dc2e3;
	text-align: center;
	color: #ffffff;
	font-family: 'Plumb Black';
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 4px;
	display: block;
}
.obl-finish a:hover {
	background-color: #afdff7;
}

.obl-entrance a {
	width: 50%;
	margin: 10px 15px;
	background-color: #7dc2e3;
	text-align: center;
	color: #ffffff;
	font-family: 'Plumb Black';
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 4px;
	display: block;
}
.obl-entrance a:hover {
	background-color: #afdff7;
}
.obl-entrance .mfp-close, .obl-finish .mfp-close, .obl-tele .mfp-close, .obl-sms .mfp-close, .obl-cf .mfp-close {
	color: #ff8400;
	margin-right: 16px;
	margin-top: 15px;
}
.obl-sms {
	padding: 75px 30px 55px !important;
	text-align: left !important;
	max-width: 550px !important;
	position: relative;
	display: block;
	align-content: center !important;
	background-image: url(img/obl1.png) !important;
	background-repeat: no-repeat;
	background-position: center !important;
	background-size: 100% 100% !important;
	margin: 0 auto !important;
	background-color: transparent !important;
}
.obl-cf {
	padding: 45px 30px 35px !important;
	text-align: left !important;
	max-width: 550px !important;
	position: relative;
	display: block;
	align-content: center !important;
	background-image: url(img/obl3.png) !important;
	background-repeat: no-repeat;
	background-position: center !important;
	background-size: 100% 100% !important;
	margin: 0 auto !important;
	background-color: transparent !important;
}
.obl-tele {
	padding: 75px 30px 55px !important;
	text-align: left !important;
	max-width: 550px !important;
	position: relative;
	display: block;
	align-content: center !important;
	background-image: url(img/obl3.png) !important;
	background-repeat: no-repeat;
	background-position: center !important;
	background-size: 100% 100% !important;
	margin: 0 auto !important;
	background-color: transparent !important;
}

.tele-header {
	color: #712a41;
	text-transform: uppercase;
	font-family: 'Plumb Black';
	font-weight: 300;
	padding-bottom: 35px;
	font-size: 24px;
	border-bottom: 2px dashed #b0e0f9;
	margin-bottom: 25px;
}
.tele-footer {
	font-family: 'Handicraft';
	font-weight: 100;
	padding-top: 25px;
	font-size: 20px;
	color: #464646;
	border-top: 2px dashed #b0e0f9;
	margin-top: 10px;
	margin-bottom: 30px;
}

.cabinet .buttons {
	margin: 60px 0px 130px;
}

.cabinet .buttons a {
	background-color: #7dc2e3;
	text-align: center;
	color: #ffffff;
	font-family: 'Plumb Black';
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 25px 30px;
	border-radius: 4px;
	margin: 20px 0px;
	display: block;
}
.cabinet .buttons div:nth-child(2) a { background-color: #ffa039; }
.cabinet .buttons div:nth-child(2) a:hover { background-color: #ffb441; }
.cabinet .buttons div:nth-child(3) a { background-color: #86354f; }
.cabinet .buttons div:nth-child(3) a:hover { background-color: #a1385a; }

.mychecks table {
	max-width: 800px;
	width: 100%;
	margin: 0px auto 80px;
}

.mychecks table th {
	padding: 0 50px; 
	font-size: 18px;
	line-height: 22px;
	color: #712a41 !important;
	text-align: center;
	color: #3f3f3f;
	height: 50px;
}

.mychecks table td {
	padding: 0 15px;
	font-size: 19px;
	line-height: 21px;
	font-family: Handicraft, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #3f3f3f;
	height: 50px;
	border-top: 1px solid #ffffff; 
}

.mychecks table td:hover {
	cursor: pointer;
}

.mychecks table tr:hover td, .mychecks table tr:focus td {
	background-color: #e1f5ff;
}

@media screen and (max-width: 500px) {
	.mychecks table th {
		padding: 0px; 
		font-size: 17px;
		line-height: 20px;
	}
	.mychecks table td {
		padding: 0px 1px;
		font-size: 16px;
		line-height: 21px;
	}
}

.mychecks table td.approved::after {
	background-image: url(img/plus.png);
	background-position: center 80%;
	background-repeat: no-repeat;
	width: 11px;
	height: 21px;
	content: "";
	z-index: 100;
	display: inline-block;
	margin-left: 15px;
}

.mychecks table td.notapproved::after {
	background-image: url(img/minus.png);
	background-position: center 80%;
	background-repeat: no-repeat;
	width: 11px;
	height: 21px;
	content: "";
	z-index: 100;
	display: inline-block;
	margin-left: 15px;
}

.help-block {
	color: red !important;
}

.container.results .youtube {
	display: block;
	width: 257px;
	top: -20px;
	height: 180px;
	z-index: 75;
	right: 0px;
	position: absolute;
	align-content: center;
	background-image: url(img/youtube.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.container.results .youtube.winrs {
	left: 0px;
}

.container.results .youtube p {
	margin-bottom: 0px;
	padding-top: 50px;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	text-align: center;
	font-family: "Plumb Black";
	text-transform: uppercase;
}

.container.results .youtube a {
	text-decoration: none;
	font-size: 19px;
	margin-left: 7px;
	color: #ffffff;
}
